.container {
    display: flex;
    justify-content: space-between;
}

.leftContainer {
    background-color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
    padding: 1rem;
    position: relative;
}

.rightContainer {
    background-color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    min-height: 150px;
    height: auto;
    background-color: #A9E9DF;
    border-radius: 30px;
    margin: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.rectangleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #285f76;
    color: #ffffff;
    min-width: 100px;
    min-height: 40px;
    height: auto;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    

    .leftContainer, .rightContainer {
        width: 100%;
        margin-bottom: -20px;
    }

    .rectangle {
        width: 100%;
    }
}


  
  
  /* Additional styles for the rest of the elements */
  /* ... */