.container {
    display: flex;
    justify-content: space-between;
  }
  
  .rectangle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    min-width: 600px;
    min-height: 150px;
    background-color: #A9E9DF;
    border-radius: 30px;
    margin: 50px;
    width: 599px;
    height: 146px;
    left: 130px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    background-color: gray;
    margin-right: 10px;
  }
  
  
  .rectangleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #285f76;
    color: #ffffff;
    width: 120px;
    min-height: 40px;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
  }
  
  
  /* Additional styles for the rest of the elements */
  /* ... */