.container {
    display: flex;
    justify-content: space-between;
}

.leftContainer {
    background-color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
    padding: 1rem;
    position: relative;
}

.rightContainer {
    background-color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    min-height: 150px;
    height: auto;
    background-color: #A9E9DF;
    border-radius: 30px;
    margin: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.rectangleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #285f76;
    color: #ffffff;
    min-width: 100px;
    min-height: 45px;
    height: auto;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: auto;

}


.inputUsername.inputError[type=text] {
    border-color: red;
    background-color: #ffebee;
}

.inputEmail.inputError[type=text] {
    border-color: red;
    background-color: #ffebee;
}

.inputPassword.inputError[type=password] {
    border-color: red;
    background-color: #ffebee;
}

.principalContentProfile {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin-left: 10px;

}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%; 
    margin-right: 20px;
    margin-left: 15px;
}

.component1, .component2 {
    width: 47%; 
  
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.textContainer {
    padding: 0.5rem;
    border: 1px solid #A9E9DF;
    border-radius: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.formProfile {
    position: static;
    width: 100%;
    min-height: 0;
    max-height: 100%;
    background-color: transparent;
    border-radius: 0;
    top: auto;
    left: auto;
    z-index: auto;
    transition: none;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    margin-right: 20px;
    margin-left: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}




@media (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }


    .leftContainer,
    .rightContainer {
        width: 100%;
        margin-bottom: -20px;
    }


    .rectangle {
        width: 100%;
    }
}





/* Additional styles for the rest of the elements */
/* ... */