.square {
    position: relative;
    width: 524px;
    height: 358px;
    margin-top: 40px;
}

.head_rectangle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 34.92%;
    background: #A9E9DF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 0px 0px;
}

.bottom_rectangle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 65.08%;
    bottom: 0%;
    background: #E8FFFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 30px 30px;

}

.square:hover .head_rectangle {
    cursor: pointer;
    background-color: #9fdcd2;
}

.square:hover .bottom_rectangle {
    cursor: pointer;
}

.bottom_rectangle_text {
    position: absolute;
    left: 17%;
    right: 9.54%;
    top: 0%;
    bottom: 12.01%;

    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 22px;
    /* or 61% */
    display: flex;
    align-items: center;
    
    color: #000000;
}


.add {
    position: fixed;
    width: 396px;
    height: 100px;
    left: 71%;
    top: 81%;
    cursor: pointer;
}

.add_image {
    position: absolute;
    width: 100px;
    height: 100px;
}

.add_text {
    position: absolute;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 22px;
    /* identical to box height, or 79% */
    left: 120px;
    top: 33px;
    
    display: flex;
    align-items: center;
    
    color: #000000;
    
}
.Detalles_Reunion{
    display: grid;
    grid-template-columns: 33% 33% 1fr;
    max-width: 100%;
}

.square_pregunta {
    position: relative;
    width: 1223px;
    height: 270px;
    left: 49%;
    transform: translateX(-50%);
    background: #A9E9DF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 50px;
}

.square_preguntaview {
    display: flex;
    width: 100%;
    padding: 10px;
    min-height: 150px;
    height: auto;
    background-color: #A9E9DF;
    margin: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    position: relative;
}

.minisquare_preguntaview {
    position: absolute;
    width: 95%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 22px;

    background: #E8FFFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.minisquare_pregunta {
    position: absolute;
    width: 791px;
    height: 199px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 22px;

    background: #E8FFFB;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.success_notification{
    width: 400px;
    height: 100px;
    margin: 5px;
    
}
.toast_success_doc{
    border-radius: 5px;
    color: #000000;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.50);
    
}